
*{
    margin: 0px;
    padding: 0px;
   
}
body{
    font-family: 'Balthazar', serif;
}
/* main styling */
#main{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
/* Header styling */
#header{
    height: 18vh;
    width: 90vw;
    display: flex;
    background-color: aliceblue;
}
#leftlogo{
width: 25%;
}
#leftlogo img,#rightlogo img{
    height: 100%;
    width: 81%;
}
#title{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
#title h1{
    text-shadow: 1px 3px 10px black;
    color: lavenderblush;
    line-height: 100%;
}
#title h3{
    letter-spacing: 2px;
    font-size: 1rem;
}
#rightlogo{
width: 25%;
}
/* footer style */
#footer{
    height: 10vh;
    background-color: beige;
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#footer h3{

}
/* container style  */
#container{
    margin: .5rem;
    width: 90vw;
    height: fit-content;

}
#container form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: flex-start;
    font-size: 1rem;
    line-height: 2rem;
}
#container form input,select{
width: 100%;
height: 2rem;
margin: 0.4rem 0px;
}
#myForm{
    padding:1rem;
    background-color: bisque;

}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
form input{
    margin-left: 1rem;
    margin-top: 0.3rem;
    padding: 0.2rem;
    border-radius: 10px;
    letter-spacing: .1em;
    color: black;
    background-color: #f7ffec;
}
/* index page login logout  */
#login_logout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: stretch;
}
#login_logout a{
    text-decoration: none;
}
/* adminArea styling  */
#adminArea{
    width: 100%;
}
#leftAdminArea{
    width: 25%;
  

}

#adminMenu{

}
#adminMenu li{
    background: repeating-linear-gradient(45deg, black, transparent 100px);
    list-style: none;
}
#adminMenu li a{
    display: block;
    color: blanchedalmond;
    text-shadow: 2px 3px 10px black;
    text-decoration: none;
}
#rightAdminArea{
    width: 75%;
}
#resmsg{
  
}
